@import 'src/styles/_colors.scss';
@import 'src/styles/_static-variables.scss';

#toolbar-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  .tools-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .tool-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      background: transparent;
      transition: 0.325s background ease;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      &:hover {
        background: transparentize(#fff, 0.9);
        cursor: pointer;
      }
      & > svg {
      }
      & > span {
      }
    }
  }
  .search-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 100%;
    & > label {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0.1rem 0.2rem;
      background: transparentize(#fff, 0.75);
      border-radius: 0.25rem;
      transition: 0.325s ease background;
      &:hover {
        background: transparentize(#fff, 0.8);
        cursor: pointer;
      }
      svg {
        font-size: 1.75rem;
      }
    }
    #search-input {
      border: none;
      outline: none;
      height: 100%;
      width: 16rem;
      padding: 0.425rem 0.75rem;
      border-radius: 0.25rem;
      background: transparentize(#fff, 0.85);
      box-sizing: border-box;
    }
  }
}
