@import "_colors.scss";

html {
  font-size: 16px;
}


html[theme="dark"] {
  --header-text-color: rgb(255, 255, 255);
  --header-hover-text-color: rgb(230, 230, 230);

  --body-bg-color: #100D17;

  --footer-col-head-text-color: #{$bg-gray-200};
  --footer-col-body-text-color: #{$bg-gray-300};

  --simple-text-color: #{$bg-gray-300};
}

html[theme="light"] {
  --header-text-color: #2D2D2D;
  --header-hover-text-color: rgb(31 41 55);

  --body-bg-color: #FFFFFF;

  --footer-col-head-text-color: #{$bg-gray-800};
  --footer-col-body-text-color: #{$bg-gray-700};

  --simple-text-color: #{$bg-gray-700} ;
}

:root {
  --sides-offset: 64px;
  @media screen and (width <= 1000px) {
    --sides-offset: 48px;
  }
  @media screen and (width <= 768px) {
    --sides-offset: 32px;
  }
  @media screen and (width <= 420px) {
    --sides-offset: 20px;
  }
  @media screen and (width <= 320px) {
    --sides-offset: 12px;
  }
}