@import './_reset.scss';

* {
  font-family: Montseratt, sans-serif;
  color: var(--simple-text-color);
}

body {
  min-height: 100%;
  background: var(--body-bg-color);
  #root {
    height: 100%;
  }
}
