@import 'src/styles/_colors.scss';
@import 'src/styles/_static-variables.scss';

.category-tabs-bar {
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  .pill-tab-category {
    color: #00F0FF;
    padding: 0.5rem 1rem;
    background: transparentize(#457699, .75);
    transition: .5s ease-out background;
    border-radius: 0.25rem;
    &[data-active-link="true"] {
      background: transparentize(#457699, .5);
    }
  }
}

.product-shop-cards__section {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 4rem;
  padding: 1rem 4rem;
}
